<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your coupon code has been created for claimed items. Use the given coupon code to avail discount of Rs.{{amount}} on your next order</p>
        <p>secret: <strong> {{secret}}</strong></p>

        <br><br>
        <p style="text-align:center; font-weight:bold;"> Goat Pure</p>
    </body>
</html>